In [1]:
import pandas as pd
import numpy as np

In [2]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       reg_data.csv
Book3.csv                  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic2.xlsx      tips.csv
Cartwheeldata.csv          mic.xlsx       weight-height.csv

In [4]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 8.9 MB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 5.1 MB/s
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
path = 'datasets/adult.csv'
df = pd.read_csv(path)
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,the label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [8]:
x = df.columns.tolist()
x.sort()
x

['age',
 'capital-gain',
 'capital-loss',
 'education',
 'education-num',
 'fnlwgt',
 'hours-per-week',
 'marital-status',
 'native-country',
 'occupation',
 'race',
 'relationship',
 'sex',
 'the label',
 'workclass']

In [12]:
myPivot = pd.pivot_table(df,
                         index = ['education','marital-status','sex'],
                         values = ['age','hours-per-week'],
                         aggfunc = ['mean'],
                         #aggfunc en python average es el default en pivot table y en excel es la suma
                        
                        )

pd.set_option('display.max_rows',5000)

myPivot

                                                   mean
                                                    age hours-per-week
education     marital-status         sex
 10th          Divorced               Female  45.343284      37.059701
                                      Male    42.603774      45.547170
               Married-civ-spouse     Female  38.363636      36.393939
                                      Male    46.936709      42.215190
               Married-spouse-absent  Female  36.714286      34.571429
                                      Male    46.625000      48.250000
               Never-married          Female  22.742188      26.968750
                                      Male    24.630901      33.476395
               Separated              Female  39.838710      38.032258
                                      Male    39.000000      44.722222
               Widowed                Female  60.344828      31.586207
                                      Male    56.100000      35.200000
 11th          Divorced               Female  41.531646      37.481013
                                      Male    40.764706      43.960784
               Married-civ-spouse     Female  38.657143      34.114286
                                      Male    42.987461      41.216301
               Married-spouse-absent  Female  34.142857      36.428571
                                      Male    34.000000      41.333333
               Never-married          Female  21.423387      25.334677
                                      Male    22.875740      30.038462
               Separated              Female  37.857143      36.535714
                                      Male    35.650000      41.050000
               Widowed                Female  55.714286      33.342857
                                      Male    59.000000      40.000000
 12th          Divorced               Female  40.588235      37.235294
                                      Male    41.909091      41.590909
               Married-civ-spouse     Female  37.700000      36.600000
                                      Male    42.654545      43.645455
               Married-spouse-absent  Female  29.250000      41.250000
                                      Male    46.750000      44.000000
               Never-married          Female  22.440476      27.369048
                                      Male    23.641892      32.594595
               Separated              Female  36.000000      39.083333
                                      Male    36.000000      40.000000
               Widowed                Female  58.142857      40.000000
                                      Male    66.333333      39.666667
 1st-4th       Divorced               Female  62.200000      26.000000
                                      Male    63.200000      39.600000
               Married-civ-spouse     Female  42.666667      26.833333
                                      Male    48.306667      40.840000
               Married-spouse-absent  Female  33.666667      38.333333
                                      Male    44.000000      40.444444
               Never-married          Female  32.666667      36.416667
                                      Male    31.296296      40.592593
               Separated              Female  49.400000      40.000000
                                      Male    50.250000      37.500000
               Widowed                Female  61.666667      28.533333
                                      Male    69.500000      42.500000
 5th-6th       Divorced               Female  53.000000      38.000000
                                      Male    54.400000      39.800000
               Married-civ-spouse     Female  41.555556      36.611111
                                      Male    46.376623      40.629870
               Married-spouse-absent  Female  50.000000      35.200000
                                      Male    40.200000      35.933333
               Never-married          Female  34.862069      35.103448
                                      Male    28.616667      40.283333
               Separated              Female  43.636364      36.818182
                                      Male    43.857143      38.428571
               Widowed                Female  64.363636      35.454545
                                      Male    80.333333      15.000000
 7th-8th       Divorced               Female  50.060606      39.757576
                                      Male    48.950000      41.400000
               Married-civ-spouse     Female  44.652174      45.000000
                                      Male    51.008929      41.250000
               Married-spouse-absent  Female  45.500000      34.833333
                                      Male    52.125000      38.750000
               Never-married          Female  35.647059      36.676471
                                      Male    33.341772      38.556962
               Separated              Female  47.846154      28.923077
                                      Male    33.200000      41.500000
               Widowed                Female  62.058824      31.627451
                                      Male    66.538462      27.076923
 9th           Divorced               Female  44.942857      35.028571
                                      Male    47.896552      40.000000
               Married-civ-spouse     Female  43.500000      39.363636
                                      Male    46.139423      40.913462
               Married-spouse-absent  Female  42.000000      28.666667
                                      Male    34.000000      45.000000
               Never-married          Female  31.980000      32.920000
                                      Male    26.438095      36.695238
               Separated              Female  43.058824      36.117647
                                      Male    44.187500      40.375000
               Widowed                Female  63.529412      26.235294
                                      Male    60.833333      38.666667
 Assoc-acdm    Divorced               Female  40.669118      39.198529
                                      Male    41.865672      43.805970
               Married-AF-spouse      Female  31.500000      21.500000
               Married-civ-spouse     Female  35.818182      36.623377
                                      Male    41.582245      44.193211
               Married-spouse-absent  Female  44.750000      38.375000
                                      Male    44.750000      31.250000
               Never-married          Female  29.906832      36.496894
                                      Male    28.767045      38.744318
               Separated              Female  41.062500      40.687500
                                      Male    38.000000      43.214286
               Widowed                Female  53.619048      33.333333
                                      Male    36.500000      40.000000
 Assoc-voc     Divorced               Female  41.032680      40.098039
                                      Male    39.938272      42.950617
               Married-AF-spouse      Male    29.000000      44.000000
               Married-civ-spouse     Female  36.795699      34.827957
                                      Male    41.332215      44.186242
               Married-spouse-absent  Female  46.375000      36.625000
                                      Male    44.200000      40.400000
               Never-married          Female  29.724719      38.646067
                                      Male    30.407609      42.902174
               Separated              Female  41.827586      37.862069
                                      Male    38.307692      41.307692
               Widowed                Female  60.538462      32.589744
                                      Male    66.500000      50.000000
 Bachelors     Divorced               Female  43.959322      41.576271
                                      Male    44.577689      44.788845
               Married-AF-spouse      Female  27.000000      40.000000
                                      Male    34.500000      50.000000
               Married-civ-spouse     Female  37.810289      37.450161
                                      Male    43.260480      45.015466
               Married-spouse-absent  Female  41.937500      39.437500
                                      Male    40.833333      43.777778
               Never-married          Female  30.117376      39.387802
                                      Male    30.882289      41.448164
               Separated              Female  42.413043      42.239130
                                      Male    41.847826      42.760870
               Widowed                Female  53.875000      35.140625
                                      Male    61.166667      36.388889
 Doctorate     Divorced               Female  49.100000      49.900000
                                      Male    49.615385      51.076923
               Married-civ-spouse     Female  42.050000      41.350000
                                      Male    49.293233      47.473684
               Married-spouse-absent  Female  43.000000      39.333333
                                      Male    47.500000      52.250000
               Never-married          Female  43.428571      53.885714
                                      Male    40.184211      41.842105
               Separated              Female  39.750000      28.500000
                                      Male    47.000000      38.333333
               Widowed                Female  66.750000      31.250000
                                      Male    62.666667      42.000000
 HS-grad       Divorced               Female  43.146211      39.067236
                                      Male    41.279586      42.887574
               Married-AF-spouse      Female  36.375000      29.250000
                                      Male    31.800000      65.000000
               Married-civ-spouse     Female  40.457786      35.628518
                                      Male    43.108766      43.501623
               Married-spouse-absent  Female  39.333333      37.285714
                                      Male    39.500000      42.241379
               Never-married          Female  28.824291      36.314170
                                      Male    28.339806      40.274542
               Separated              Female  38.670370      36.818519
                                      Male    37.463235      40.911765
               Widowed                Female  59.066860      32.061047
                                      Male    61.071429      35.800000
               test_category_female   Female  52.000000      40.000000
               test_category_male     Male    52.000000      40.000000
 Masters       Divorced               Female  46.908497      42.444444
                                      Male    47.987500      46.362500
               Married-civ-spouse     Female  42.902655      39.345133
                                      Male    45.440449      45.332584
               Married-spouse-absent  Female  45.888889      43.777778
                                      Male    50.250000      50.625000
               Never-married          Female  38.273148      41.587963
                                      Male    37.303191      43.404255
               Separated              Female  44.785714      39.000000
                                      Male    43.454545      48.636364
               Widowed                Female  56.645161      37.870968
                                      Male    63.600000      33.800000
 Preschool     Divorced               Male    36.000000      72.000000
               Married-civ-spouse     Female  44.000000      40.000000
                                      Male    48.882353      41.117647
               Married-spouse-absent  Male    44.750000      40.000000
               Never-married          Female  38.300000      29.000000
                                      Male    33.000000      34.833333
               Separated              Female  48.000000      40.000000
               Widowed                Female  52.500000      30.000000
                                      Male    71.000000      10.000000
 Prof-school   Divorced               Female  42.666667      42.428571
                                      Male    45.029412      47.558824
               Married-civ-spouse     Female  40.814815      43.296296
                                      Male    46.963636      47.968831
               Married-spouse-absent  Female  52.000000      40.000000
                                      Male    51.000000      45.000000
               Never-married          Female  35.810811      49.324324
                                      Male    36.696429      48.357143
               Separated              Female  43.333333      40.000000
                                      Male    44.400000      44.600000
               Widowed                Female  64.333333      25.333333
                                      Male    42.500000      45.000000
 Some-college  Divorced               Female  42.613221      39.254571
                                      Male    41.759777      44.164804
               Married-AF-spouse      Female  28.000000      40.000000
                                      Male    26.000000      40.000000
               Married-civ-spouse     Female  39.433437      36.408669
                                      Male    42.569940      44.410822
               Married-spouse-absent  Female  34.826087      34.565217
                                      Male    41.066667      40.766667
               Never-married          Female  25.251214      31.712700
                                      Male    26.089812      36.130697
               Separated              Female  37.809160      38.709924
                                      Male    38.494382      42.269663
               Widowed                Female  56.861842      32.289474
                                      Male    62.550000      35.350000

In [17]:
myPivot = pd.pivot_table(df,
                         index = ['education','marital-status','sex'],
                         values = ['age','hours-per-week'],
                         aggfunc = ['median'],
                         #aggfunc en python average es el default en pivot table y en excel es la suma
                        
                        )

pd.set_option('display.max_rows',5000)

myPivot

                                             median
                                                age hours-per-week
education     marital-status         sex
 10th          Divorced               Female   45.0           40.0
                                      Male     39.0           40.0
               Married-civ-spouse     Female   32.0           40.0
                                      Male     48.0           40.0
               Married-spouse-absent  Female   39.0           40.0
                                      Male     49.0           40.0
               Never-married          Female   18.0           26.5
                                      Male     20.0           40.0
               Separated              Female   34.0           40.0
                                      Male     38.0           40.0
               Widowed                Female   60.0           35.0
                                      Male     57.0           40.0
 11th          Divorced               Female   41.0           40.0
                                      Male     38.0           40.0
               Married-civ-spouse     Female   42.0           40.0
                                      Male     41.0           40.0
               Married-spouse-absent  Female   30.0           40.0
                                      Male     32.5           40.0
               Never-married          Female   18.0           22.0
                                      Male     18.0           30.0
               Separated              Female   35.5           40.0
                                      Male     34.5           40.0
               Widowed                Female   56.0           40.0
                                      Male     60.0           40.0
 12th          Divorced               Female   41.0           40.0
                                      Male     41.0           40.0
               Married-civ-spouse     Female   34.0           40.0
                                      Male     41.5           40.0
               Married-spouse-absent  Female   25.5           45.0
                                      Male     46.0           42.5
               Never-married          Female   18.0           25.0
                                      Male     20.5           39.0
               Separated              Female   35.0           40.0
                                      Male     36.0           40.0
               Widowed                Female   56.0           40.0
                                      Male     65.0           44.0
 1st-4th       Divorced               Female   64.0           28.0
                                      Male     63.0           40.0
               Married-civ-spouse     Female   44.5           30.0
                                      Male     51.0           40.0
               Married-spouse-absent  Female   33.0           40.0
                                      Male     41.0           40.0
               Never-married          Female   32.0           40.0
                                      Male     28.0           40.0
               Separated              Female   50.0           40.0
                                      Male     56.0           37.5
               Widowed                Female   63.0           30.0
                                      Male     69.5           42.5
 5th-6th       Divorced               Female   53.0           40.0
                                      Male     56.0           40.0
               Married-civ-spouse     Female   43.0           40.0
                                      Male     46.0           40.0
               Married-spouse-absent  Female   50.0           34.0
                                      Male     41.0           40.0
               Never-married          Female   32.0           40.0
                                      Male     26.0           40.0
               Separated              Female   39.0           40.0
                                      Male     42.0           40.0
               Widowed                Female   65.0           40.0
                                      Male     82.0           15.0
 7th-8th       Divorced               Female   52.0           40.0
                                      Male     49.5           40.0
               Married-civ-spouse     Female   46.0           40.0
                                      Male     52.0           40.0
               Married-spouse-absent  Female   44.0           37.5
                                      Male     49.5           40.0
               Never-married          Female   31.0           40.0
                                      Male     27.0           40.0
               Separated              Female   45.0           32.0
                                      Male     30.0           40.0
               Widowed                Female   64.0           35.0
                                      Male     68.0           30.0
 9th           Divorced               Female   46.0           40.0
                                      Male     46.0           40.0
               Married-civ-spouse     Female   40.5           40.0
                                      Male     45.0           40.0
               Married-spouse-absent  Female   49.0           30.0
                                      Male     30.5           40.0
               Never-married          Female   26.5           38.0
                                      Male     23.0           40.0
               Separated              Female   45.0           40.0
                                      Male     41.5           40.0
               Widowed                Female   63.0           25.0
                                      Male     59.0           40.0
 Assoc-acdm    Divorced               Female   40.0           40.0
                                      Male     41.0           40.0
               Married-AF-spouse      Female   31.5           21.5
               Married-civ-spouse     Female   36.0           40.0
                                      Male     40.0           40.0
               Married-spouse-absent  Female   42.5           35.5
                                      Male     44.5           32.5
               Never-married          Female   27.0           40.0
                                      Male     27.0           40.0
               Separated              Female   39.5           40.0
                                      Male     38.0           40.0
               Widowed                Female   54.0           40.0
                                      Male     36.5           40.0
 Assoc-voc     Divorced               Female   41.0           40.0
                                      Male     38.0           40.0
               Married-AF-spouse      Male     29.0           44.0
               Married-civ-spouse     Female   35.0           40.0
                                      Male     40.0           40.0
               Married-spouse-absent  Female   36.5           40.0
                                      Male     46.0           40.0
               Never-married          Female   28.0           40.0
                                      Male     29.0           40.0
               Separated              Female   40.0           40.0
                                      Male     39.0           40.0
               Widowed                Female   62.0           40.0
                                      Male     66.5           50.0
 Bachelors     Divorced               Female   43.0           40.0
                                      Male     44.0           40.0
               Married-AF-spouse      Female   27.0           40.0
                                      Male     34.5           50.0
               Married-civ-spouse     Female   37.0           40.0
                                      Male     42.0           42.0
               Married-spouse-absent  Female   42.0           40.0
                                      Male     40.5           40.0
               Never-married          Female   27.0           40.0
                                      Male     28.0           40.0
               Separated              Female   42.5           40.0
                                      Male     40.0           40.0
               Widowed                Female   55.0           40.0
                                      Male     64.0           40.0
 Doctorate     Divorced               Female   50.5           50.0
                                      Male     50.0           50.0
               Married-civ-spouse     Female   41.5           38.5
                                      Male     49.0           45.0
               Married-spouse-absent  Female   43.0           40.0
                                      Male     42.5           60.0
               Never-married          Female   42.0           50.0
                                      Male     36.0           40.0
               Separated              Female   40.0           32.0
                                      Male     46.0           40.0
               Widowed                Female   63.5           40.0
                                      Male     64.0           40.0
 HS-grad       Divorced               Female   43.0           40.0
                                      Male     40.0           40.0
               Married-AF-spouse      Female   33.5           31.5
                                      Male     29.0           60.0
               Married-civ-spouse     Female   39.0           40.0
                                      Male     42.0           40.0
               Married-spouse-absent  Female   38.0           40.0
                                      Male     40.0           40.0
               Never-married          Female   26.0           40.0
                                      Male     26.0           40.0
               Separated              Female   38.0           40.0
                                      Male     36.0           40.0
               Widowed                Female   60.5           37.0
                                      Male     62.5           40.0
               test_category_female   Female   52.0           40.0
               test_category_male     Male     52.0           40.0
 Masters       Divorced               Female   46.0           40.0
                                      Male     47.0           45.0
               Married-civ-spouse     Female   43.0           40.0
                                      Male     45.0           44.0
               Married-spouse-absent  Female   49.0           40.0
                                      Male     49.0           50.0
               Never-married          Female   37.0           40.0
                                      Male     35.0           40.0
               Separated              Female   44.0           40.0
                                      Male     47.0           45.0
               Widowed                Female   56.0           40.0
                                      Male     66.5           40.0
 Preschool     Divorced               Male     36.0           72.0
               Married-civ-spouse     Female   46.0           40.0
                                      Male     52.0           40.0
               Married-spouse-absent  Male     46.0           40.0
               Never-married          Female   36.5           30.0
                                      Male     27.5           36.0
               Separated              Female   48.0           40.0
               Widowed                Female   52.5           30.0
                                      Male     71.0           10.0
 Prof-school   Divorced               Female   42.0           40.0
                                      Male     44.5           50.0
               Married-civ-spouse     Female   39.0           40.0
                                      Male     44.0           50.0
               Married-spouse-absent  Female   52.0           40.0
                                      Male     51.0           45.0
               Never-married          Female   32.0           50.0
                                      Male     34.0           50.0
               Separated              Female   44.0           40.0
                                      Male     43.0           48.0
               Widowed                Female   68.0           20.0
                                      Male     42.5           45.0
 Some-college  Divorced               Female   42.0           40.0
                                      Male     42.0           40.0
               Married-AF-spouse      Female   28.0           40.0
                                      Male     26.0           40.0
               Married-civ-spouse     Female   38.0           40.0
                                      Male     42.0           40.0
               Married-spouse-absent  Female   31.0           40.0
                                      Male     37.0           40.0
               Never-married          Female   22.0           35.0
                                      Male     23.0           40.0
               Separated              Female   38.0           40.0
                                      Male     37.0           40.0
               Widowed                Female   58.0           40.0
                                      Male     60.5           40.0